body {
    background: url(img/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'M PLUS 2', sans-serif;
}
header {
    background-color: white;
    width: 80%;
    margin: 10%;
    margin-bottom: 1%;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 6fr 1fr 1fr;
    gap: 10px;
    font-size: 110%;
}
.logo {
    display: grid;
    height: 80px;
    width: 80px;
    margin: 5px;
}
select {
    display: grid;
    border: rgb(125, 211, 154) 2px solid;
    margin:5%;
    height: 50px;
}
header h2 {
    display: grid;
    font-size: 200%;
    margin:5px;
    margin-left: 15px;
}
header h1 {
    display: grid;
    margin: 5px;
    font-size: 100%;
    vertical-align: center;
}
.weekButton {
    display: grid;
    border: rgb(125, 211, 154) 2px solid;
    height: 50px;
    margin: 5%;
    font-size: 70%;
    padding: 5px;
    cursor: pointer;
}
.weekButton:hover {
    border-bottom: rgb(125, 211, 154) 5px solid;
    background: #BBB;
}

.timetable {
    background-color: white;
    width: 80%;
    margin: 10%;
    margin-top: 0%;
    padding: 3%;
    font-size: 110%;
}
.day {
    width: 80%;
    display:grid;
    grid-template-columns: 1fr 7fr;
    margin-bottom: 5%;
}
.day-week {
    display: grid;
    margin-top: 6%;
}
.sublined {
    text-decoration:black underline 1px;
}
.day-timetable {
    display: grid;
}
.lesson {
    display: grid;
    border: rgba(0, 0, 0, 0.3) solid 1px;
    grid-template-columns: 1fr 9fr;
    width: 130%;
    height: 110px;
    padding: 1%;
}
.lesson .time {
    color: rgba(0, 0, 0, 0.596);
    font-style: italic;
    margin-left: 3%;
    margin-top: 3%;
}
.lesson h4 {
    margin: 0%;
    font-weight: 600;
    font-size: 140%;
}